@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro&display=swap');

/*reset css*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/*set colors*/

:root {
    --color--green: #026e00;
    --color--black: #333;
    --color--gray: #f0f0f0;
    --color--white: #fff;
    --color--backred: #fef7f7;
    --color--red: #e66465;
}


/*set fonts*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
}

header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 180%;
}


/*navigation*/

#navbar header {
    font-size: 280%;
    background-color: var(--color--black);
    color: var(--color--white);
    padding: 8px;
    letter-spacing: .03em;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 295px;
}

#navbar li {
    line-height: 2em;
}

.nav-link {
    color: var(--color--green);
    display: block;
    padding-left: 8px;
    font-size: 85%;
}

.nav-link:hover {
    color: var(--color--white);
    background-color: var(--color--green);
    transition: .4s;
}


/*main*/

#main-doc {
    margin-left: 350px;
    max-width: 800px;
}

#main-doc p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.main-section ul {
    display: block;
    list-style: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.main-section ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

pre {
    margin: 1em 0;
    padding: 1em;
    border-radius: 5px;
    background: var(--color--black);
    color: var(--color--white);
    overflow-x: auto;
    --webkit-overflow-scrolling: touch;
}

code {
    text-align: left;
    white-space: pre;
}

.wrong {
    background: var(--color--backred);
    color: var(--color--black);
    border-left: 3px solid var(--color--red);
}


/*code signs*/

.code::before {
    content: "\03c";
}

.code::after {
    content: "\03e";
}